{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container-fluid" style="background-image: url('assets/images/amour12.jpg'); background-repeat: no-repeat; background-size: contain; width: 100%;" id="premiereImage">

	<section class="col-md-4 mt-5 mx-auto">
    
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h2 class="text-center text-dark">Connectez-vous</h2>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre email"/>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe"/>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

			<button class="btn btn-dark m-1" type="submit">Connexion</button>
		</form>
			<h3>Vous n'avez pas de compte ?</h3>
			<h4>Pas de soucis à vous faire <a href="{{path('app_register')}}">Inscrivez vous</a> pour faire de belles rencontres.</h4>
	</section>
</div>    
{% endblock %}
