nav{

    background-color: black;
}

.SiteTitleNav{
    color : rgb(255, 0, 106);
    background-color: black;
}

#premiereImage{
  width: auto;
  padding: 200px;
  height: 800px;
  color: white;
  text-align: start;
}

#premiereImage h1{
  font-size: 90px;
}

.card-body{
  background-color: rgba(91, 91, 217, 0.777);
}

.card-body p{
  margin: 5px;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.card-body h5{
font-size: 40px;
}

#trouverAmour{
  height: 150px;
}

#trouverAmour h3{
  font-size: 50px;
  text-align: center;
  color: rgb(210, 21, 94);
  padding: 0px 0px 40px 0px;
}

#proposition{
  background-color: rgb(210, 88, 184);
}

#separation{
  height: 350px;
}

#proposition{
  height: 500px;
 
  justify-content: center;
  align-items: center;
}

#paragraphe h5{
  font-size: 30px;
  font-weight: bold;
}

#paragraphe p{
  font-size: 20px;
  font-style: italic;
}

#footerG{
  background-color: rgb(90, 90, 90);
}

#monFooter a{
  text-decoration: none;
  color: rgba(255, 192, 203, 0.748);
}

#pageRegister{
  background-color: rgb(244, 237, 237);
}

#backgroundcardMan{
  background-color: rgb(111, 111, 209);
}

#backgroundcardWom{
  background-color: rgb(186, 62, 172);
}

#bouttonjaime{
  background-color: rgb(186, 62, 172);
  border-color: white;
}