<nav class="navbar navbar-expand-lg bg">
	<div class="container-fluid">
		<a class="navbar-brand SiteTitleNav" href="#">Match2Love
			{# <img class="nav-img" src="../../public/uploads/images/coeur_bleu.jpg" alt="HeartLogo"/> #}
			<img class="nav-img" src="{{asset('uploads/images/Coeur_bleu_rose_lumineux_redim3_2.jpg')}}" alt="Combined double Hearts Logo"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active upnavlink" aria-current="page" href="#">Accueil</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle upnavlink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Rencontrer
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item downlink" href="#">Rencontrer des Hommes</a>
						</li>
						<li>
							<a class="dropdown-item downlink" href="#">Rencontrer des Femmes</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle upnavlink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Mon compte
					</a>
					<ul class="dropdown-menu">

						<li>
							<a class="dropdown-item downlink" href="#">Inscription</a>
						</li>
						<li>
							<a class="dropdown-item downlink" href="#">Profil</a>
						</li>
						<li>
							<a class="dropdown-item downlink" href="#">Connection</a>
						</li>
						<li>
							<a class="dropdown-item downlink" href="#">Déconnection</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle upnavlink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Paramètres
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item downlink" href="#">Réglages</a>
						</li>
						<li>
							<a class="dropdown-item downlink" href="#">Liens utiles</a>
						</li>

					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active upnavlink" aria-current="page" href="#">Back-Office</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
